* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: black;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
}

.day {
    background: linear-gradient(to bottom, #87ceeb, #f0e68c); 
}

.night {
    background: linear-gradient(to bottom, #0b0c2a, #2c3e50); 
}

h1 {
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    text-shadow: 2px 2px 3px black;
}

h2 {
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    margin-top: 40px;
}

label {
    display: flex;
    justify-content: center;
    color: #FAF9F6;
    margin-top: 5rem;
    text-shadow: 2px 2px 3px black;
    font-size: 2.5rem;
    padding: 15px;
} 

input {
    display: flex;
    justify-self: center;
    background-color: #d4d4d2;
    width: 15rem;
    height: 2rem;
    font-size: xx-large;
}

button {
    display: flex;
    justify-self: center;
    margin-top: 8px;
    background-color: #d4d4d2;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-radius: 13px;
    padding: 5px;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

button:hover {
    background-color: #ff7575;
    cursor: pointer;
}

#scrollWeatherBar {
    width: 400px;
    border: 3px solid #01162E;
    border-radius: 16px;
    background-color: #01162E;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    justify-self: center;
    margin-top: auto;
    margin-bottom: 4em;
}

#scrollWeatherBar::-webkit-scrollbar {
    display: none;
}

#scrollWeatherBar h2 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#scrollWeatherBar h2:hover {
    background-color: #777;
}

